# Session 4

In [1]:
import pandas as pd

---
## The DataFrame

In [2]:
!ls data

API_SP.DYN.LE00.FE.IN_DS2_en_csv_v2_205359.csv	bobs_events_inventory.json
API_SP.DYN.LE00.MA.IN_DS2_en_csv_v2_213090.csv	bobs_events_inventory.jsonl
API_SP.POP.DPND.YG_DS2_EN_csv_v2_224716.csv	CT_temp_hourly.csv
API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2_200798.csv	DBN_temp_hourly.csv
bobs_events_co.csv				google_face_detection.json
bobs_events_co_raw.csv				google_landmark_detection.json
bobs_events_co_raw.xlsx				JHB_temp_hourly.csv
bobs_events_co.xlsx				JHB_weather.csv

In [3]:
df = pd.read_csv('data/JHB_weather.csv')
df.head()

         LAT;;;;;-26.2023;-26.2023;-26.2023;-26.2023
0            LON;;;;;28.0436;28.0436;28.0436;28.0436
1            ASL;;;;;1767.00;1767.00;1767.00;1767.00
2  CITY;;;;;Johannesburg;Johannesburg;Johannesbur...
3     DOMAIN;;;;;NEMSAF01;NEMSAF01;NEMSAF01;NEMSAF01
4  LEVEL;;;;;2 m above gnd;sfc;10 m above gnd;10 ...

In [4]:
df = pd.read_csv('data/JHB_weather.csv', skiprows=10, delimiter=';')

In [5]:
df.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute',
       'Temperature  [2 m above gnd]',
       'Total Precipitation (high resolution)  [sfc]',
       'Wind Speed  [10 m above gnd]', 'Wind Direction  [10 m above gnd]'],
      dtype='object')

In [6]:
df.rename(columns={'Day': 'Night'}, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 9 columns):
Year                                            192 non-null int64
Month                                           192 non-null int64
Night                                           192 non-null int64
Hour                                            192 non-null int64
Minute                                          192 non-null int64
Temperature  [2 m above gnd]                    192 non-null float64
Total Precipitation (high resolution)  [sfc]    192 non-null float64
Wind Speed  [10 m above gnd]                    192 non-null float64
Wind Direction  [10 m above gnd]                192 non-null float64
dtypes: float64(4), int64(5)
memory usage: 13.6 KB

In [8]:
df.columns

Index(['Year', 'Month', 'Night', 'Hour', 'Minute',
       'Temperature  [2 m above gnd]',
       'Total Precipitation (high resolution)  [sfc]',
       'Wind Speed  [10 m above gnd]', 'Wind Direction  [10 m above gnd]'],
      dtype='object')

In [9]:
df['Temperature  [2 m above gnd]']

0      16.39
1      15.90
2      15.42
3      15.08
4      14.64
       ...
187    22.48
188    21.30
189    20.32
190    19.03
191    16.83
Name: Temperature  [2 m above gnd], Length: 192, dtype: float64

In [10]:
df[['Temperature  [2 m above gnd]', 'Wind Direction  [10 m above gnd]']]

     Temperature  [2 m above gnd]  Wind Direction  [10 m above gnd]
0                           16.39                            318.37
1                           15.90                            320.19
2                           15.42                            322.13
3                           15.08                            320.19
4                           14.64                            333.43
..                            ...                               ...
187                         22.48                            346.37
188                         21.30                            348.69
189                         20.32                            358.83
190                         19.03                             15.10
191                         16.83                             19.25

[192 rows x 2 columns]

In [11]:
df[[c for c in df.columns if 'Wind' in c]]

     Wind Speed  [10 m above gnd]  Wind Direction  [10 m above gnd]
0                            8.67                            318.37
1                            8.44                            320.19
2                            8.21                            322.13
3                            8.44                            320.19
4                            8.05                            333.43
..                            ...                               ...
187                         12.22                            346.37
188                         12.85                            348.69
189                         17.64                            358.83
190                         23.49                             15.10
191                         24.02                             19.25

[192 rows x 2 columns]

In [12]:
df.loc[:, 'Wind Direction  [10 m above gnd]']

0      318.37
1      320.19
2      322.13
3      320.19
4      333.43
        ...
187    346.37
188    348.69
189    358.83
190     15.10
191     19.25
Name: Wind Direction  [10 m above gnd], Length: 192, dtype: float64

In [13]:
df.loc[0:5, ['Wind Direction  [10 m above gnd]', 'Temperature  [2 m above gnd]']]

   Wind Direction  [10 m above gnd]  Temperature  [2 m above gnd]
0                            318.37                         16.39
1                            320.19                         15.90
2                            322.13                         15.42
3                            320.19                         15.08
4                            333.43                         14.64
5                            357.40                         14.20

In [14]:
df.loc[0:5]

,Year,Month,Night,Hour,Minute,Temperature [2 m above gnd],Total Precipitation (high resolution) [sfc],Wind Speed [10 m above gnd],Wind Direction [10 m above gnd]
0,2019,9,12,0,0,16.39,0.0,8.67,318.37
1,2019,9,12,1,0,15.90,0.0,8.44,320.19
2,2019,9,12,2,0,15.42,0.0,8.21,322.13
3,2019,9,12,3,0,15.08,0.0,8.44,320.19
4,2019,9,12,4,0,14.64,0.0,8.05,333.43
5,2019,9,12,5,0,14.20,0.0,7.93,357.40

In [15]:
df_new = df.set_index('Temperature  [2 m above gnd]')
df_new

,Year,Month,Night,Hour,Minute,Total Precipitation (high resolution) [sfc],Wind Speed [10 m above gnd],Wind Direction [10 m above gnd]
Temperature [2 m above gnd],,,,,,,,
16.39,2019,9,12,0,0,0.0,8.67,318.37
15.90,2019,9,12,1,0,0.0,8.44,320.19
15.42,2019,9,12,2,0,0.0,8.21,322.13
15.08,2019,9,12,3,0,0.0,8.44,320.19
14.64,2019,9,12,4,0,0.0,8.05,333.43
...,...,...,...,...,...,...,...,...
22.48,2019,9,19,19,0,0.0,12.22,346.37
21.30,2019,9,19,20,0,0.0,12.85,348.69
20.32,2019,9,19,21,0,0.0,17.64,358.83
19.03,2019,9,19,22,0,0.0,23.49,15.10
16.83,2019,9,19,23,0,0.0,24.02,19.25

In [16]:
df_new.loc[0:5]

KeyError: 0

In [17]:
df_new.iloc[0:5]

,Year,Month,Night,Hour,Minute,Total Precipitation (high resolution) [sfc],Wind Speed [10 m above gnd],Wind Direction [10 m above gnd]
Temperature [2 m above gnd],,,,,,,,
16.39,2019,9,12,0,0,0.0,8.67,318.37
15.90,2019,9,12,1,0,0.0,8.44,320.19
15.42,2019,9,12,2,0,0.0,8.21,322.13
15.08,2019,9,12,3,0,0.0,8.44,320.19
14.64,2019,9,12,4,0,0.0,8.05,333.43

In [18]:
df_new.iloc[0:5, ['Wind Direction  [10 m above gnd]', 'Wind Speed  [10 m above gnd]']]

IndexError: .iloc requires numeric indexers, got ['Wind Direction  [10 m above gnd]' 'Wind Speed  [10 m above gnd]']

In [19]:
df_new.iloc[0:5, 6:8]

,Wind Speed [10 m above gnd],Wind Direction [10 m above gnd]
Temperature [2 m above gnd],,
16.39,8.67,318.37
15.90,8.44,320.19
15.42,8.21,322.13
15.08,8.44,320.19
14.64,8.05,333.43

In [20]:
df_new.iloc[0:5, 6]

Temperature  [2 m above gnd]
16.39    8.67
15.90    8.44
15.42    8.21
15.08    8.44
14.64    8.05
Name: Wind Speed  [10 m above gnd], dtype: float64

In [21]:
df_new.iloc[0:5, [2,4,6]]

                              Night  Minute  Wind Speed  [10 m above gnd]
Temperature  [2 m above gnd]
16.39                            12       0                          8.67
15.90                            12       0                          8.44
15.42                            12       0                          8.21
15.08                            12       0                          8.44
14.64                            12       0                          8.05

In [22]:
df['Year']

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
187    2019
188    2019
189    2019
190    2019
191    2019
Name: Year, Length: 192, dtype: int64

In [23]:
df.Year

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
187    2019
188    2019
189    2019
190    2019
191    2019
Name: Year, Length: 192, dtype: int64